<!DOCTYPE html>
<html lang="en">
<head>

 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </head>
    <script>
      var jsonfile ={{jsonfile}};
    </script>
    <style>
      .img-container {
        text-align: center;
      }
    </style>
  <body>
     <section>
        <div class="container p-5">

            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                    <div class="p-5 bg-white shadow rounded-lg">

                        <div id="success_alert" class="alert alert-success" role="alert" style="display:none;"></div>

<div  class="img-container" >
    <h3  >Object Detection Application</h3>
    <p  >Detect object in image</p>



  <!--  <div>
        {{jsonfile}}
    </div> -->




 {% if is_image %}
        {% if is_show_button %}
           <form action="/detect_object" target="_blank">
          <img src="{{ user_image }}" alt="User Image"   width="500" >
           <button type="submit" style="width:200px" class="btn btn-primary btn-block rounded-pill shadow"> Detect Object</button>
            </form>
        {% else %}

          <img src="{{ user_image }}" alt="User Image"   width="500" >

        {% endif %}

 {% else %}
    <form action="/detect_object" target="_blank">
     <video src="{{ user_image }}" controls="controls"  class="img-container"  width="500" >  </video>
       <button type="submit" style="width:200px" class="btn btn-primary btn-block rounded-pill shadow"> Detect Object</button>
        </form>
      {% endif %}
     </div>

         </div>
        </div>
    </section>
    </body>

</html>
